.qutu1{
    background: #B33771;
}

.qutu2{
    background-color: #FDA7DF;
    padding:100px;
    font-family: 'Vujahday Script', cursive;

}
.paragraf1{
    background: #B33771;
    display: inline;
    padding:20px;
    justify-items: right;

}
